:root {
   --Back-color: #efecec
}

*{
    margin: 0;
    padding: 0;
    border: 0;
 }
 
#page-home{
    height: 100vh;
    background-position: 0vw bottom;
    margin-left: 0;
 }

 #paragrafo-id {
    font-size: 80%;
 }
 
 .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
 }
 
 .access {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    height: 90vh;
    align-items: center;
    justify-content: center;
 }
 
 .itens-Login-label {
    font-size: 140%;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
 }
 
 .itens-Login-text {
    font-size: 140%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
 }
 
 header, footer {
    display: flex;
    height: 8;
    width: auto;
    justify-content: center;
 }
 
 h3, h4 {
    align-self: center;
 }
 
 footer {
    margin-bottom: 10px;
 }